<a href="https://colab.research.google.com/github/ngriggs/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/LS_DS_124_Make_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [1]:
!wget https://resources.lendingclub.com/LoanStats_2019Q1.csv.zip

--2019-07-18 02:51:26--  https://resources.lendingclub.com/LoanStats_2019Q1.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2019Q1.csv.zip’

LoanStats_2019Q1.cs     [              <=>   ]  19.30M  1.70MB/s    in 11s

2019-07-18 02:51:37 (1.68 MB/s) - ‘LoanStats_2019Q1.csv.zip’ saved [20240936]

In [2]:
!ls

LoanStats_2019Q1.csv.zip  sample_data

In [3]:
!unzip LoanStats_2019Q1.csv.zip

Archive:  LoanStats_2019Q1.csv.zip
  inflating: LoanStats_2019Q1.csv

In [4]:
!head LoanStats_2019Q1.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","20000","20000","20000"," 60 months"," 17.19%","499.1","C","C5","Front desk supervisor","6 years","RENT","47000","Source Verified","Mar-2019","Current","n","","","debt_consolidation","Debt consolidation","958xx","CA","14.02","0","Sep-2006","1","50","","15","0","10687","19.7%","53","w","19254.76","19254.76","1459.1","1459.10","745.24","713.86","0.0","0.0","0.0","Jun-2019","499.1","Jul-2019","Jun-2019","0","50","1","Individual","","","","0","0","31546","3","2","1","2","10","20859","97","4","9","5909","42","54300","6","1","3","11","2103","23647","30","0","0","150","100","1","1","0","5","","3","50","3","3","4","8","19","19","13","33","4","15","0","0","0","5","98","12.5","0","0","75824","31546","33800","21524","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","12000","12000","12000"," 36 months"," 16.40%","424.26","C","C4","Executive Director","4 years","MORTGAGE","95000","Not Verified","Mar-2019","Current","n","","","debt_consolidation","Debt consolidation","436xx","OH","29.5","0","Nov-1992","0","29","","19","0","16619","64.9%","36","w","11475.92","11475.92","826.65","826.65","524.08","302.57","0.0","0.0","0.0","May-2019","424.26","Jul-2019","Jun-2019","0","30","1","Individual","","","","0","0","176551","1","5","2","5","7","35115","65","3","6","4899","65","25600","4","0","3","12","9292","3231","82.5","0","0","316","269","5","5","2","12","58","7","29","1","6","8","6","9","10","13","23","8","19","0","0","0","6","80.6","66.7","0","0","209488","51734","18500","54263","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","3000","3000","3000"," 36 months"," 14.74%","103.62","C","C2","Office Manager","4 years","MORTGAGE","58750","Verified","Mar-2019","Current","n","","","medical","Medical expenses","327xx","FL","30.91","0","Jun-2004","0","24","","16","0","20502","60.1%","25","f","2865.64","2865.64","202.33","202.33","134.36","67.97","0.0","0.0","0.0","May-2019","103.62","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","37816","0","3","0","0","27","17314","48","0","0","3962","54","34100","0","1","0","0","2364","1208","89.4","0","0","177","164","35","27","4","40","24","","24","0","7","12","7","8","6","13","15","12","16","0","0","0","0","96","71.4","0","0","69911","37816","11400","35811","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","35000","35000","35000"," 36 months"," 15.57%","1223.08","C","C3","Store Manager ","10+ years","RENT","122000","Verified","Mar-2019","Current","n","","","credit_card","Credit card refinancing","333xx","FL","22","1","Dec-2009","0","20","","5","0","1441","24.4%","18","w","33459.43","33459.43","2446.76","2446.76","1540.57","845.04","61.15","0.0","0.0","Jun-2019","1223.08","Jul-2019","Jun-2019","0","20","1","Individual","","","","0","0","24471","0","3","0","0","26","23030","39","0","0","1441","37","5900","2","4","1","1","4894","159","90.1","0","0","108","111","52","24","0","85","","9","","1","1","1","1","3","10","2","7","1","5","0","0","1","0","94.4","100","0","0","65640","24471","1600","59740","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 15.57%","174.73","C","C3","Area Manager","3 years","OWN","65000","Verified","Mar-2019","Current","n","","","house","Home buying","640xx","MO","16.28","1","Jul-2001","0","7","","9","0","5604","64.4%","25","w","4778.86","4778.86","340.81","340.81","221.14","119.67","0.0","0.0","0.0","May-2019","174.73","Jul-2019","Jun-2019","0","7","1","Individual","","","","0","0","29775","0","1","0","1","17","24171","82","1","6","1824","78","8700","1","0","0","7","3722","1070","75.7","0","0","111","212","10","10","4","17","69","17","69","4","3","5","5","9","7","8","14","5","9","0","0","1","1","76","50","0","0","38190","29775","4400","29490","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","40000","40000","40000"," 60 months"," 12.40%","897.89","B","B4","SVP","10+ years","MORTGAGE","515000","Source Verified","Mar-2019","Current","n","","","debt_consolidation","Debt consolidation","117xx","NY","18.19","0","Feb-1993","1","","","24","0","130490","86.4%","49","w","39025.88","39025.88","1740.67","1740.67","974.12","766.55","0.0","0.0","0.0","May-2019","897.89","Jul-2019","Jun-2019","0","","1","Individual","","","","0","205","569565","3","6","2","3","4","72207","39","3","3","20896","67","151100","1","6","2","7","23732","4733","94.8","0","0","160","304","3","3","6","10","","0","","0","10","14","10","17","12","15","28","14","24","0","0","0","5","100","100","0","0","752911","204997","90800","144678","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","40000","40000","40000"," 60 months"," 11.02%","870.1","B","B2","VP of Sales","3 years","MORTGAGE","288000","Not Verified","Mar-2019","Current","n","","","credit_card","Credit card refinancing","843xx","UT","19.74","0","May-2002","0","","","20","0","66240","43.9%","34","w","38989.85","38989.85","1691.22","1691.22","1010.15","681.07","0.0","0.0","0.0","May-2019","870.1","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","390598","0","5","0","2","16","140633","58","0","2","22577","49","150900","0","6","1","4","19530","81923","43.1","0","0","136","202","17","16","1","17","","3","","0","8","9","10","15","11","13","22","10","20","0","0","0","0","100","20","0","0","543401","206873","143900","197751","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","20000","20000","20000"," 60 months"," 12.40%","448.95","B","B4","Sales","1 year","MORTGAGE","70000","Source Verified","Mar-2019","Current","n","","","credit_card","Credit card refinancing","481xx","MI","32.33","0","May-1995","0","","","12","0","31036","56.7%","32","w","19512.93","19512.93","870.34","870.34","487.07","383.27","0.0","0.0","0.0","May-2019","448.95","Jul-2019","Jun-2019","0","","1","Joint App","102400","31.16","Source Verified","0","0","204292","0","3","0","1","14","16305","33","0","0","17389","46","54700","1","3","0","2","17024","268","98.9","0","0","133","286","41","14","4","84","","15","","0","3","7","3","7","9","8","19","7","12","0","0","0","0","100","100","0","0","267991","47341","24800","49291","56647","May-1995","0","4","15","61.3","1","31","0","0","","N","","","","","","","","","","","","","","","N","","","","","",""

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [5]:
import pandas as pd
df = pd.read_csv('LoanStats_2019Q1.csv', skiprows=1)
print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,123,124,125,128,129,130,133,138,139,140) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(115677, 144)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [6]:
df.isna().sum()

id                                            115675
member_id                                     115677
loan_amnt                                          2
funded_amnt                                        2
funded_amnt_inv                                    2
term                                               2
int_rate                                           2
installment                                        2
grade                                              2
sub_grade                                          2
emp_title                                      19520
emp_length                                     11103
home_ownership                                     2
annual_inc                                         2
verification_status                                2
issue_d                                            2
loan_status                                        2
pymnt_plan                                         2
url                                           115677
desc                                          115677
purpose                                            2
title                                              2
zip_code                                           2
addr_state                                         2
dti                                              259
delinq_2yrs                                        2
earliest_cr_line                                   2
inq_last_6mths                                     2
mths_since_last_delinq                         65801
mths_since_last_record                        102254
                                               ...
sec_app_mort_acc                               98996
sec_app_open_acc                               98996
sec_app_revol_util                             99226
sec_app_open_act_il                            98996
sec_app_num_rev_accts                          98996
sec_app_chargeoff_within_12_mths               98996
sec_app_collections_12_mths_ex_med             98996
sec_app_mths_since_last_major_derog           110776
hardship_flag                                      2
hardship_type                                 115676
hardship_reason                               115676
hardship_status                               115676
deferral_term                                 115676
hardship_amount                               115676
hardship_start_date                           115676
hardship_end_date                             115676
payment_plan_start_date                       115676
hardship_length                               115676
hardship_dpd                                  115676
hardship_loan_status                          115676
orig_projected_additional_accrued_interest    115676
hardship_payoff_balance_amount                115676
hardship_last_payment_amount                  115676
debt_settlement_flag                               2
debt_settlement_flag_date                     115676
settlement_status                             115676
settlement_date                               115676
settlement_amount                             115676
settlement_percentage                         115676
settlement_term                               115676
Length: 144, dtype: int64

In [7]:
df[df.loan_amnt.isna()]

                                                      id  ...  settlement_term
115675  Total amount funded in policy code 1: 1928448350  ...              NaN
115676   Total amount funded in policy code 2: 799372035  ...              NaN

[2 rows x 144 columns]

In [8]:
df.tail()

                                                      id  ...  settlement_term
115672                                               NaN  ...              NaN
115673                                               NaN  ...              NaN
115674                                               NaN  ...              NaN
115675  Total amount funded in policy code 1: 1928448350  ...              NaN
115676   Total amount funded in policy code 2: 799372035  ...              NaN

[5 rows x 144 columns]

In [9]:
!tail LoanStats_2019Q1.csv

"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","","n/a","MORTGAGE","48000","Not Verified","Jan-2019","Current","n","","","home_improvement","Home improvement","338xx","FL","8.28","2","May-2006","0","11","","8","0","3846","13.6%","21","w","4420.40","4420.40","841.62","841.62","579.60","262.02","0.0","0.0","0.0","Jun-2019","169.83","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","35666","0","1","0","0","49","5336","47","0","2","0","23","28200","0","3","0","2","4458","","","0","0","99","151","13","13","1","","","","11","0","0","3","0","1","4","6","16","3","8","0","0","0","0","90.5","","0","0","88613","9182","0","11413","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","40000","40000","40000"," 36 months","  6.46%","1225.24","A","A1","President - North America","4 years","MORTGAGE","520000","Verified","Jan-2019","Current","n","","","credit_card","Credit card refinancing","752xx","TX","9.96","0","Sep-2006","1","43","","21","0","59529","29.6%","57","f","34895.81","34895.81","6111.84","6111.84","5104.19","1007.65","0.0","0.0","0.0","Jun-2019","1225.24","Jul-2019","Jun-2019","0","43","1","Individual","","","","0","0","864480","2","3","0","0","28","27151","35","3","5","38479","34","111100","1","0","3","7","41166","41467","34.3","0","0","147","146","2","2","9","3","43","3","43","0","4","5","8","16","10","14","36","5","21","0","0","0","3","98.2","12.5","0","0","1033574","95958","100800","78634","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","6000","6000","6000"," 36 months","  6.46%","183.79","A","A1","","< 1 year","MORTGAGE","96000","Not Verified","Jan-2019","Current","n","","","debt_consolidation","Debt consolidation","060xx","CT","0.31","0","May-1993","0","","91","16","1","50","0.1%","36","w","5234.35","5234.35","916.8","916.80","765.65","151.15","0.0","0.0","0.0","Jun-2019","183.79","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","50","0","0","0","1","15","0","","1","4","50","0","33500","1","1","1","5","3","14850","0.3","0","0","15","306","7","7","0","45","","7","","0","1","1","3","12","1","16","35","1","16","0","0","0","1","100","0","1","0","33500","50","14900","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","16000","16000","16000"," 36 months"," 16.14%","563.62","C","C4","Estimator/Supervisor","10+ years","MORTGAGE","32000","Source Verified","Jan-2019","Current","n","","","debt_consolidation","Debt consolidation","925xx","CA","20.89","0","Dec-2010","0","35","117","13","1","17066","49.9%","15","f","14210.40","14210.40","2803.75","2803.75","1789.60","1014.15","0.0","0.0","0.0","Jun-2019","563.62","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","17066","1","0","0","0","55","0","","3","3","2353","50","34200","0","0","1","3","1313","6446","60.7","0","0","55","96","1","1","0","1","35","12","35","0","7","8","8","8","1","13","14","8","13","0","0","0","3","93.3","37.5","1","0","34200","17066","16400","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","16000","16000","16000"," 60 months"," 11.31%","350.36","B","B3","MATERIAL HANDLER","5 years","MORTGAGE","72000","Verified","Jan-2019","Current","n","","","debt_consolidation","Debt consolidation","850xx","AZ","7.02","2","Sep-2005","0","8","64","12","1","11882","37.1%","39","w","3227.04","3227.04","13441.75","13441.75","12772.96","668.79","0.0","0.0","0.0","Jun-2019","350.36","Jul-2019","Jun-2019","0","8","1","Individual","","","","0","0","225413","0","2","0","0","28","62953","79","0","0","5568","45","32000","2","2","4","1","18784","11705","49.1","2","0","159","129","25","24","3","25","","1","9","2","4","5","5","9","20","9","16","5","12","0","0","2","0","94.3","0","1","0","251486","74835","23000","63090","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","29250","29250","29250"," 60 months"," 18.94%","757.8","D","D2","sr register csa","7 years","MORTGAGE","65000","Verified","Jan-2019","Current","n","","","debt_consolidation","Debt consolidation","774xx","TX","29.52","0","Jan-2011","0","","","20","0","38465","69%","22","w","27721.83","27721.83","3727.44","3727.44","1528.17","2199.27","0.0","0.0","0.0","Jun-2019","757.8","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","204764","0","1","0","1","17","20323","79","1","3","13874","69","55505","0","0","0","4","10238","2985","87","0","0","78","95","7","7","1","19","","13","","0","13","18","13","13","3","18","18","18","20","","0","0","1","100","76.9","0","0","237833","58788","38800","25728","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""


Total amount funded in policy code 1: 1928448350
Total amount funded in policy code 2: 799372035

In [31]:
df = pd.read_csv('LoanStats_2019Q1.csv', skiprows=1, skipfooter=2, engine='python')
print(df.shape)
df.head()

(115675, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [11]:
df.isna().sum()

id                                            115675
member_id                                     115675
loan_amnt                                          0
funded_amnt                                        0
funded_amnt_inv                                    0
term                                               0
int_rate                                           0
installment                                        0
grade                                              0
sub_grade                                          0
emp_title                                      19518
emp_length                                     11101
home_ownership                                     0
annual_inc                                         0
verification_status                                0
issue_d                                            0
loan_status                                        0
pymnt_plan                                         0
url                                           115675
desc                                          115675
purpose                                            0
title                                              0
zip_code                                           0
addr_state                                         0
dti                                              257
delinq_2yrs                                        0
earliest_cr_line                                   0
inq_last_6mths                                     0
mths_since_last_delinq                         65799
mths_since_last_record                        102252
                                               ...
sec_app_mort_acc                               98994
sec_app_open_acc                               98994
sec_app_revol_util                             99224
sec_app_open_act_il                            98994
sec_app_num_rev_accts                          98994
sec_app_chargeoff_within_12_mths               98994
sec_app_collections_12_mths_ex_med             98994
sec_app_mths_since_last_major_derog           110774
hardship_flag                                      0
hardship_type                                 115674
hardship_reason                               115674
hardship_status                               115674
deferral_term                                 115674
hardship_amount                               115674
hardship_start_date                           115674
hardship_end_date                             115674
payment_plan_start_date                       115674
hardship_length                               115674
hardship_dpd                                  115674
hardship_loan_status                          115674
orig_projected_additional_accrued_interest    115674
hardship_payoff_balance_amount                115674
hardship_last_payment_amount                  115674
debt_settlement_flag                               0
debt_settlement_flag_date                     115674
settlement_status                             115674
settlement_date                               115674
settlement_amount                             115674
settlement_percentage                         115674
settlement_term                               115674
Length: 144, dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115675 entries, 0 to 115674
Columns: 144 entries, id to settlement_term
dtypes: float64(56), int64(52), object(36)
memory usage: 127.1+ MB

In [0]:
# pd.options.display.max_columns = -1
# pd.options.display.max_rows = -1
# Viewing all the rows and columns

In [14]:
df.head().T

                                                                0  ...             4
id                                                            NaN  ...           NaN
member_id                                                     NaN  ...           NaN
loan_amnt                                                   20000  ...          5000
funded_amnt                                                 20000  ...          5000
funded_amnt_inv                                             20000  ...          5000
term                                                    60 months  ...     36 months
int_rate                                                   17.19%  ...        15.57%
installment                                                 499.1  ...        174.73
grade                                                           C  ...             C
sub_grade                                                      C5  ...            C3
emp_title                                   Front desk supervisor  ...  Area Manager
emp_length                                                6 years  ...       3 years
home_ownership                                               RENT  ...           OWN
annual_inc                                                  47000  ...         65000
verification_status                               Source Verified  ...      Verified
issue_d                                                  Mar-2019  ...      Mar-2019
loan_status                                               Current  ...       Current
pymnt_plan                                                      n  ...             n
url                                                           NaN  ...           NaN
desc                                                          NaN  ...           NaN
purpose                                        debt_consolidation  ...         house
title                                          Debt consolidation  ...   Home buying
zip_code                                                    958xx  ...         640xx
addr_state                                                     CA  ...            MO
dti                                                         14.02  ...         16.28
delinq_2yrs                                                     0  ...             1
earliest_cr_line                                         Sep-2006  ...      Jul-2001
inq_last_6mths                                                  1  ...             0
mths_since_last_delinq                                         50  ...             7
mths_since_last_record                                        NaN  ...           NaN
...                                                           ...  ...           ...
sec_app_mort_acc                                              NaN  ...           NaN
sec_app_open_acc                                              NaN  ...           NaN
sec_app_revol_util                                            NaN  ...           NaN
sec_app_open_act_il                                           NaN  ...           NaN
sec_app_num_rev_accts                                         NaN  ...           NaN
sec_app_chargeoff_within_12_mths                              NaN  ...           NaN
sec_app_collections_12_mths_ex_med                            NaN  ...           NaN
sec_app_mths_since_last_major_derog                           NaN  ...           NaN
hardship_flag                                                   N  ...             N
hardship_type                                                 NaN  ...           NaN
hardship_reason                                               NaN  ...           NaN
hardship_status                                               NaN  ...           NaN
deferral_term                                                 NaN  ...           NaN
hardship_amount                                               NaN  ...           NaN
hardship_start_date                                           NaN  ...           NaN
hardship_end_date                                             NaN  ...           NaN
payment_plan_start_date                                       NaN  ...           NaN
hardship_length                                               NaN  ...           NaN
hardship_dpd                                                  NaN  ...           NaN
hardship_loan_status                                          NaN  ...           NaN
orig_projected_additional_accrued_interest                    NaN  ...           NaN
hardship_payoff_balance_amount                                NaN  ...           NaN
hardship_last_payment_amount                                  NaN  ...           NaN
debt_settlement_flag                                            N  ...             N
debt_settlement_flag_date                                     NaN  ...           NaN
settlement_status                                             NaN  ...           NaN
settlement_date                                               NaN  ...           NaN
settlement_amount                                             NaN  ...           NaN
settlement_percentage                                         NaN  ...           NaN
settlement_term                                               NaN  ...           NaN

[144 rows x 5 columns]

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

One hot encoding: change one column with various possible entries to multilple columns with binary entries. I.e. rent, own, mortgage in one column would be spread out to 3 columns is_rent, is_own, is_mortgage with 0 or 1 as the possible entries in each column.

In [15]:
df.describe(include='object')

              term int_rate  ... settlement_status settlement_date
count       115675   115675  ...                 1               1
unique           2       53  ...                 1               1
top      36 months    8.19%  ...            ACTIVE        May-2019
freq         78429    11314  ...                 1               1

[4 rows x 36 columns]

In [16]:
df.emp_length.value_counts()

10+ years    34490
< 1 year     15044
2 years       9695
3 years       8719
1 year        7919
5 years       7189
4 years       6777
6 years       4636
7 years       3913
8 years       3625
9 years       2567
Name: emp_length, dtype: int64

### Convert `int_rate`

In [0]:
x = '12.5%'

In [0]:
df['int_rate'] = df['int_rate'].str.strip('%').astype(float)

In [18]:
df.int_rate.head()

0    17.19
1    16.40
2    14.74
3    15.57
4    15.57
Name: int_rate, dtype: float64

Define a function to remove percent signs from strings and convert to floats

In [21]:
def remove_percent_sign(string):
  '''This function takes a string as input,
  strips the trailing percent sign and returns
  a float'''
  return float(string.strip('%'))

remove_percent_sign(x)

12.5

Apply the function to the `int_rate` column

In [0]:
# df['int_rate'] = df['int_rate'].apply(remove_percent_sign)
# df['int_rate'].head()

In [24]:
df.int_rate.describe()

count    115675.000000
mean         12.720160
std           4.854991
min           6.000000
25%           8.190000
50%          11.800000
75%          15.570000
max          30.890000
Name: int_rate, dtype: float64

### Clean `emp_title`

Look at top 20 titles

In [25]:
df.emp_title.value_counts()[:20]

Teacher                     2037
Manager                     1626
Registered Nurse             898
Driver                       857
Supervisor                   655
RN                           623
Sales                        586
Office Manager               574
Project Manager              540
General Manager              486
Owner                        449
Director                     374
Operations Manager           313
Engineer                     309
Truck Driver                 308
Sales Manager                288
Nurse                        281
Administrative Assistant     267
Supervisor                   260
Accountant                   259
Name: emp_title, dtype: int64

How often is `emp_title` null?

In [27]:
df.emp_title.isna().sum() / len(df)

0.1687313594121461

Clean the title and handle missing values


*   Capitalize
*   strip spaces
*   Replace 'NaN' with missing

In [34]:
import numpy as np
# isinstance('dog', str)
isinstance(np.nan, str)

False

In [36]:
example = ['owner', 'Supervisor ', ' Project Manager', np.nan]

def clean_emp_title(x):
  if isinstance(x, str):
    return x.strip().title()
  else:
    return 'Missing'
for ex in example:
  print(clean_emp_title(ex))
  
  
[clean_emp_title(x) for x in example]

Owner
Supervisor
Project Manager
Missing

['Owner', 'Supervisor', 'Project Manager', 'Missing']

In [37]:
df['emp_title'] = df['emp_title'].apply(clean_emp_title)
df['emp_title'].head(20)

0       Front Desk Supervisor
1          Executive Director
2              Office Manager
3               Store Manager
4                Area Manager
5                         Svp
6                 Vp Of Sales
7                       Sales
8                          Rn
9             Project Manager
10          Custom Applicator
11                 Av Manager
12    Human Resources Liaison
13                    Missing
14                      Agent
15            Sales/Marketing
16                        Ceo
17                  Route Rep
18                Maintenance
19        Executive Assistant
Name: emp_title, dtype: object

In [38]:
df.emp_title.nunique()

31429

In [39]:
df.emp_title.value_counts()[:10]

Missing             19518
Teacher              2465
Manager              2172
Registered Nurse     1306
Driver               1194
Supervisor           1109
Office Manager        834
Sales                 806
Truck Driver          767
General Manager       737
Name: emp_title, dtype: int64

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [42]:
df['emp_title'].str.contains('Chemist').sum()

54

In [43]:
df['emp_title'].iloc[0:10]

0    Front Desk Supervisor
1       Executive Director
2           Office Manager
3            Store Manager
4             Area Manager
5                      Svp
6              Vp Of Sales
7                    Sales
8                       Rn
9          Project Manager
Name: emp_title, dtype: object

In [44]:
df['emp_title_manager'] = df.emp_title.str.contains('Manager')
df['emp_title_manager'].value_counts()

False    99713
True     15962
Name: emp_title_manager, dtype: int64

In [45]:
df.groupby('emp_title_manager').int_rate.mean()

emp_title_manager
False    12.744184
True     12.570085
Name: int_rate, dtype: float64

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

In [47]:
df['issue_d'].head().values

array(['Mar-2019', 'Mar-2019', 'Mar-2019', 'Mar-2019', 'Mar-2019'],
      dtype=object)

In [48]:
df['issue_d'].describe()

count       115675
unique           3
top       Jan-2019
freq         43584
Name: issue_d, dtype: object

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

In [50]:
df['issue_d'].describe()

count                  115675
unique                      3
top       2019-01-01 00:00:00
freq                    43584
first     2019-01-01 00:00:00
last      2019-03-01 00:00:00
Name: issue_d, dtype: object

In [51]:
df['issue_d'].iloc[0:5].dt.month

0    3
1    3
2    3
3    3
4    3
Name: issue_d, dtype: int64

In [0]:
df['issue_month'] = df['issue_d'].dt.month

In [54]:
df['issue_month'].value_counts()

1    43584
3    36106
2    35985
Name: issue_month, dtype: int64

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'])

In [0]:
df['days_since_earliest_cr_line'] = (df['issue_d'] - df['earliest_cr_line']).dt.days

In [57]:
df['days_since_earliest_cr_line'].describe()

count    115675.000000
mean       5972.244634
std        2904.216417
min        1124.000000
25%        4141.000000
50%        5358.000000
75%        7367.000000
max       27453.000000
Name: days_since_earliest_cr_line, dtype: float64

In [59]:
27453/365

75.21369863013699

In [60]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [0]:
for col in ['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']:
  df[col] = pd.to_datetime(df[col])

In [62]:
df.describe(include='datetime')

                    issue_d  ...   last_credit_pull_d
count                115675  ...               115673
unique                    3  ...                    7
top     2019-01-01 00:00:00  ...  2019-06-01 00:00:00
freq                  43584  ...               111240
first   2019-01-01 00:00:00  ...  2018-12-01 00:00:00
last    2019-03-01 00:00:00  ...  2019-06-01 00:00:00

[6 rows x 5 columns]

In [63]:
df.term.value_counts()

 36 months    78429
 60 months    37246
Name: term, dtype: int64

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [1]:
!wget https://resources.lendingclub.com/LoanStats_2019Q1.csv.zip

--2019-07-19 01:04:52--  https://resources.lendingclub.com/LoanStats_2019Q1.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2019Q1.csv.zip’

LoanStats_2019Q1.cs     [    <=>             ]  19.30M   901KB/s    in 22s

2019-07-19 01:05:14 (882 KB/s) - ‘LoanStats_2019Q1.csv.zip’ saved [20240936]

In [2]:
!ls

LoanStats_2019Q1.csv.zip  sample_data

In [3]:
!unzip LoanStats_2019Q1.csv.zip

Archive:  LoanStats_2019Q1.csv.zip
  inflating: LoanStats_2019Q1.csv

In [0]:
import pandas as pd

In [5]:
df = pd.read_csv('LoanStats_2019Q1.csv')
print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,7,13,18,19,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,123,124,125,126,127,128,129,130,131,132,133,134,135,136,138,139,140,141,142,143) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(115678, 1)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
id  member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate installment grade sub_grade emp_title             emp_length home_ownership annual_inc verification_status issue_d  loan_status pymnt_plan url desc purpose            title                   zip_code addr_state dti   delinq_2yrs earliest_cr_line inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc pub_rec revol_bal revol_util total_acc initial_list_status out_prncp out_prncp_inv total_pymnt total_pymnt_inv total_rec_prncp total_rec_int total_rec_late_fee recoveries collection_recovery_fee last_pymnt_d last_pymnt_amnt next_pymnt_d last_credit_pull_d collections_12_mths_ex_med mths_since_last_major_derog policy_code application_type annual_inc_joint dti_joint verification_status_joint acc_now_delinq tot_coll_amt tot_cur_bal open_acc_6m open_act_il open_il_12m open_il_24m mths_since_rcnt_il total_bal_il il_util open_rv_12m open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi total_cu_tl inq_last_12m acc_open_past_24mths avg_cur_bal bc_open_to_buy bc_util chargeoff_within_12_mths delinq_amnt mo_sin_old_il_acct mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op mo_sin_rcnt_tl mort_acc mths_since_recent_bc mths_since_recent_bc_dlq mths_since_recent_inq mths_since_recent_revol_delinq num_accts_ever_120_pd num_actv_bc_tl num_actv_rev_tl num_bc_sats num_bc_tl num_il_tl num_op_rev_tl num_rev_accts num_rev_tl_bal_gt_0 num_sats num_tl_120dpd_2m num_tl_30dpd num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq percent_bc_gt_75 pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit total_il_high_credit_limit revol_bal_joint sec_app_earliest_cr_line sec_app_inq_last_6mths sec_app_mort_acc sec_app_open_acc sec_app_revol_util sec_app_open_act_il sec_app_num_rev_accts sec_app_chargeoff_within_12_mths sec_app_collections_12_mths_ex_med sec_app_mths_since_last_major_derog hardship_flag hardship_type hardship_reason hardship_status deferral_term hardship_amount hardship_start_date hardship_end_date payment_plan_start_date hardship_length hardship_dpd hardship_loan_status orig_projected_additional_accrued_interest hardship_payoff_balance_amount hardship_last_payment_amount debt_settlement_flag debt_settlement_flag_date settlement_status settlement_date settlement_amount settlement_percentage                                    settlement_term
NaN NaN       20000     20000       20000            60 months  17.19%  499.1       C     C5        Front desk supervisor 6 years    RENT           47000      Source Verified     Mar-2019 Current     n          NaN NaN  debt_consolidation Debt consolidation      958xx    CA         14.02 0           Sep-2006         1              50                     NaN                    15       0       10687     19.7%      53        w                   19254.76  19254.76      1459.1      1459.10         745.24          713.86        0.0                0.0        0.0                     Jun-2019     499.1           Jul-2019     Jun-2019           0                          50                          1           Individual       NaN              NaN       NaN                       0              0            31546       3           2           1           2           10                 20859        97      4           9           5909       42       54300            6      1           3            11                   2103        23647          30      0                        0           150                100                  1                     1              0        5                    NaN                      3                     50                             3                     3              4               8           19        19        13            33            4                   15       0                0            0                  5                  98             12.5             0                    0         75824           31546             33800          21524                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              12000     12000       12000            36 months  16.40%  424.26      C     C4        Executive Director    4 years    MORTGAGE       95000      Not Verified        Mar-2019 Current     n          NaN NaN  debt_consolidation Debt consolidation      436xx    OH         29.5  0           Nov-1992         0              29                     NaN                    19       0       16619     64.9%      36        w                   11475.92  11475.92      826.65      826.65          524.08          302.57        0.0                0.0        0.0                     May-2019     424.26          Jul-2019     Jun-2019           0                          30                          1           Individual       NaN              NaN       NaN                       0              0            176551      1           5           2           5           7                  35115        65      3           6           4899       65       25600            4      0           3            12                   9292        3231           82.5    0                        0           316                269                  5                     5              2        12                   58                       7                     29                             1                     6              8               6           9         10        13            23            8                   19       0                0            0                  6                  80.6           66.7             0                    0         209488          51734             18500          54263                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              3000      3000        3000             36 months  14.74%  103.62      C     C2        Office Manager        4 years    MORTGAGE       58750      Verified            Mar-2019 Current     n          NaN NaN  medical            Medical expenses        327xx    FL         30.91 0           Jun-2004         0              24                     NaN                    16       0       20502     60.1%      25        f                   2865.64   2865.64       202.33      202.33          134.36          67.97         0.0                0.0        0.0                     May-2019     103.62          Jul-2019     Jun-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            37816       0           3           0           0           27                 17314        48      0           0           3962       54       34100            0      1           0            0                    2364        1208           89.4    0                        0           177                164                  35                    27             4        40                   24                       NaN                   24                             0                     7              12              7           8         6         13            15            12                  16       0                0            0                  0                  96             71.4             0                    0         69911           37816             11400          35811                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              35000     35000       35000            36 months  15.57%  1223.08     C     C3        Store Manager         10+ years  RENT           122000     Verified            Mar-2019 Current     n          NaN NaN  credit_card        Credit card refinancing 333xx    FL         22    1           Dec-2009         0              20                     NaN                    5        0       1441      24.4%      18        w                   33459.43  33459.43      2446.76     2446.76         1540.57         845.04        61.15              0.0        0.0                     Jun-2019     1223.08         Jul-2019     Jun-2019           0                          20                          1           Individual       NaN              NaN       NaN                       0              0            24471       0           3           0           0           26                 23030        39      0           0           1441       37       5900             2      4           1            1                    4894        159            90.1    0                        0           108                111                  52                    24             0        85                   NaN                      9                     NaN                            1                     1              1               1           3         10        2             7             1                   5        0                0            1                  0                  94.4           100              0                    0         65640           24471             1600           59740                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN

In [11]:
# First two rows are some lines of text not part of the actual dataset
# We can see that the shape is 115678 rows and 1 column which isn't right.

df = pd.read_csv('LoanStats_2019Q1.csv', skiprows=1)
print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,123,124,125,128,129,130,133,138,139,140) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(115677, 144)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [12]:
df.tail()

                                                      id  ...  settlement_term
115672                                               NaN  ...              NaN
115673                                               NaN  ...              NaN
115674                                               NaN  ...              NaN
115675  Total amount funded in policy code 1: 1928448350  ...              NaN
115676   Total amount funded in policy code 2: 799372035  ...              NaN

[5 rows x 144 columns]

In [14]:
# Last two rows are some extra information about the data in the dataset, so we can take it out and 
# potentially deal with it later if it's interesting.

df = pd.read_csv('LoanStats_2019Q1.csv', skiprows=1, skipfooter=2)
print(df.shape)
df.tail()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

(115675, 144)

        id  member_id  ...  settlement_percentage  settlement_term
115670 NaN        NaN  ...                    NaN              NaN
115671 NaN        NaN  ...                    NaN              NaN
115672 NaN        NaN  ...                    NaN              NaN
115673 NaN        NaN  ...                    NaN              NaN
115674 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [15]:
df.isna().sum()

id                                            115675
member_id                                     115675
loan_amnt                                          0
funded_amnt                                        0
funded_amnt_inv                                    0
term                                               0
int_rate                                           0
installment                                        0
grade                                              0
sub_grade                                          0
emp_title                                      19518
emp_length                                     11101
home_ownership                                     0
annual_inc                                         0
verification_status                                0
issue_d                                            0
loan_status                                        0
pymnt_plan                                         0
url                                           115675
desc                                          115675
purpose                                            0
title                                              0
zip_code                                           0
addr_state                                         0
dti                                              257
delinq_2yrs                                        0
earliest_cr_line                                   0
inq_last_6mths                                     0
mths_since_last_delinq                         65799
mths_since_last_record                        102252
                                               ...
sec_app_mort_acc                               98994
sec_app_open_acc                               98994
sec_app_revol_util                             99224
sec_app_open_act_il                            98994
sec_app_num_rev_accts                          98994
sec_app_chargeoff_within_12_mths               98994
sec_app_collections_12_mths_ex_med             98994
sec_app_mths_since_last_major_derog           110774
hardship_flag                                      0
hardship_type                                 115674
hardship_reason                               115674
hardship_status                               115674
deferral_term                                 115674
hardship_amount                               115674
hardship_start_date                           115674
hardship_end_date                             115674
payment_plan_start_date                       115674
hardship_length                               115674
hardship_dpd                                  115674
hardship_loan_status                          115674
orig_projected_additional_accrued_interest    115674
hardship_payoff_balance_amount                115674
hardship_last_payment_amount                  115674
debt_settlement_flag                               0
debt_settlement_flag_date                     115674
settlement_status                             115674
settlement_date                               115674
settlement_amount                             115674
settlement_percentage                         115674
settlement_term                               115674
Length: 144, dtype: int64

In [18]:
type(df['term'][0])

str

In [23]:
test = df['term'][0]
test

' 60 months'

In [21]:
df['term'].value_counts()

 36 months    78429
 60 months    37246
Name: term, dtype: int64

In [27]:
int(test.strip('months'))

60

In [28]:
df['term'] = df['term'].str.strip("months").astype(int)
type(df['term'][0])

numpy.int64

In [0]:
def loan_status(string):
  if string == 'current'

In [0]:
df['loan_status_is_great'] =

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01